---
title: 'Contact'
---
## Contact Me

**I am currently available for hire.** I'm mainly looking for contract work, but open to discussing full time roles. Feel free to contact me.

{% include "src/templates/contact.njk" %}
