---
title: 'Contact'
---
**I am currently available for hire.** I'm mostly looking for contract work, but also very open to discussing full time roles. Feel free to contact me on [LinkedIn](https://www.linkedin.com/in/hauntedhost) or directly via (masked) email at <i class="far fa-envelope"></i> smooth.sand4171 _[at]_ haunted.host.

<!-- {% include "src/templates/contact.njk" %} -->
