---
title: 'Jules Omlor'
---

# Hello, my name is Jules. I'm a senior Elixir and JavaScript web developer.[^me]

[^me]: ![jules](/images/jules-cannibal-corpse.jpg)

    Recent photo of me, hi 👋

<!-- Thanks for visiting my site. You can read my summary bio below, a more detailed [about me](/about), check out my [latest resume](/resume), and [connect with me](#contact). -->

<!-- ### 10-Second Summary -->

I am a full-stack web developer with twenty years of professional experience, and ten years working remotely. I build reliable web applications and tools, often by leveraging [Elixir](https://elixir-lang.org) on [Phoenix](https://phoenixframework.org)[^previously], [React.js](https://reactjs.org) with [TypeScript](https://www.typescriptlang.org) and [Rust](https://www.rust-lang.org).

[^previously]: Previously I worked for several years as a senior [Ruby](https://www.ruby-lang.org/en) on [Rails](https://rubyonrails.org) developer. I switched to Elixir full-time in 2016.

> ![neal](/images/avatar-neel-palrecha.jpg)
>
> "Jules is a rare breed, an extremely gifted thinker and doer. Jules is able to learn new languages and technologies faster than most. It's rare to come accross such a talented and genuine person, and I would welcome the opportunity to work with Jules again."
>
> **Neel Palrecha**, CTO of PlayVS {.testimonial}

My technical skills include:

- Elixir, Phoenix, Ecto, Absinthe, GraphQL (prev Ruby, Ruby on Rails, RSpec)
- JavaScript, TypeScript, React.js
- PostgreSQL[^postgresql], MariaDB, MySQL, SQLite, Amazon RDS
- Vite, Webpack, Gulp[^gulp], npm, yarn
- ClojureScript, Reagent/re-frame, Elm
- Elasticsearch, Amazon CloudSearch, Solr
- Linux, Debian, Amazon Linux, nginx, GeoIP, Apache
- AWS, Elastic Beanstalk, Digital Ocean, Heroku, Cloudflare
- Docker, Vagrant, NixOS, Ansible
- Rust, Python, Bash, Lua

[^postgresql]: PostgreSQL is the answer to nearly all questions.
[^gulp]: This site is built with the now ancient but still reliable technologies of Gulp and Webpack. Check out the [source code](https://github.com/hauntedhost/www).

> ![neal](/images/avatar-christopher-jereb.jpg)
>
> "Armed with only summary level requirements, Jules built or improved every major component of our app platform (e.g. Rails, PostgreSQL, Solr/Lucene, including social login, UGC & discovery, APIs, unit testing, dashboards and reporting, etc.). His contributions and our ROI can only be described as immense."
>
> **Christopher Jereb**, CEO / Founder of Zooma {.testimonial}

Aside from programming, some of my other interests include meditation[^meditation], somatic arts[^somatics], and "weird horror"[^horror].

[^meditation]: I practice vipassana meditation, loosely within the [Mahasi Sayadaw](https://en.wikipedia.org/wiki/Mahasi_Sayadaw) lineage of the modern [Theravada](https://en.wikipedia.org/wiki/Theravada) Buddhist tradition, alongside [metta](https://en.wikipedia.org/wiki/Maitr%C4%AB). I try to attend at least one 10-day silent retreat every year.
[^somatics]: I'm an aspiring kinbaku (shibari) rigger.
[^horror]: Horror in film, graphic novels, music and even [political theory](http://www.redwedgemagazine.com/evicted-art-blog/a-thousand-lost-worlds-notes-on-gothic-marxism).

### Contact Me { #contact }

**I am currently available for hire.** I'm mostly looking for contract work, but also very open to discussing full time roles. Feel free to contact me on [LinkedIn](https://www.linkedin.com/in/hauntedhost) or directly via (masked) email at <i class="far fa-envelope"></i> smooth.sand4171 _[at]_ haunted.host.

<!-- {% include "src/templates/contact.njk" %} -->
